<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883950398313-sb29v36k8qsa4tq8tm3af3oqaggq3it9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883950398313-sb29v36k8qsa4tq8tm3af3oqaggq3it9</string>
	<key>API_KEY</key>
	<string>AIzaSyB5JQJVom3BftYWxnIsfOg_fzvNPtF4tJA</string>
	<key>GCM_SENDER_ID</key>
	<string>883950398313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertcanton.Nano</string>
	<key>PROJECT_ID</key>
	<string>nano-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>nano-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883950398313:ios:c41222177ce1c40386ebf8</string>
	<key>DATABASE_URL</key>
	<string>https://nano-finance.firebaseio.com</string>
</dict>
</plist>